.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.label-email {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  margin-bottom: 8px;
}

.label-message {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  margin-bottom: 16px;
}

.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  border-radius: 8px;
  border: 2px solid currentColor;
}

.btn-form:hover {
  background-color: #6c8cff;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border: 2px solid #000000;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #808080;
  border-radius: 4px;
}
